<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.lordicon.com/lordicon.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/style/rootcss.css" />
  <link rel="stylesheet" href="/style/profile.css" />
  <title>TurfCircuit | <%= db.fullName %>
  </title>
</head>

<body>
  <!-- Navbar Code  -->
  <div class="navbar">
    <div class="burger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <h2 class="title">
      <lord-icon src="https://cdn.lordicon.com/bjxtqill.json" trigger="hover" colors="primary:#08a88a,secondary:#08a88a"
        style="width:50px;height:50px">
      </lord-icon>Turf<span class="red">Circuit</span>
    </h2>

    <ul class="navlinks">
      <a href="#" class="cross">
        <li class="cross">X</li>
      </a>
      <a href="/index">
        <li>Home</li>
      </a>
      <a href="/queue" target="_blank">
        <li>Match Queues</li>
      </a>
      <a href="/gallery">
        <li>Gallery</li>
      </a>
      <a href="/aboutus">
        <li>About US</li>
      </a>
      <a href="/contactUs">
        <li>Contact US</li>
      </a>
      <li class="profileIcon" style="display: flex; justify-content: center; align-items: center;">
        <lord-icon src="https://cdn.lordicon.com/kdduutaw.json" trigger="hover"
          colors="primary:#08a88a,secondary:#08a88a" style="width:40px;height:40px"></lord-icon>
        <div class="profileMenu">
          <ul>
            <li><a href="/profile">
                <%= currentUser ? 'My Profile' : 'Login/Signup' %>
              </a></li>
            <li><a href="/players">Players</a></li>
            <% if(currentUser) { %>
              <li><a href="/logout" class="logout-link">Log Out</a></li>
              <% } %>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <!-- MAIN PROFILE PAGE CODE  -->
  <div class="landingPage">
    <!-- FIRST PROFILE WALA SECTION -->
    <div class="firstSection">
      <!-- left image profile section  -->
      <div class="mainProfile image-container">
        <img src="" alt="Loading Image" class="responsive-image" />
      </div>
      <!-- right image profile section  -->
      <div class="right">
        <div class="rightHalf">
          <!-- <h3 class="sectionStyle">Personal Information</h3> -->
          <div class="playerStats" style="display: flex; flex-direction: row; justify-content: space-between;">
            <p>Full Name: </p>
            <p>
              <%= db.fullName || "N/A" %>
            </p>
          </div>
          <div class="playerStats" style="display: flex; flex-direction: row; justify-content: space-between;">
            <p>Player Tag: </p>
            <p>
              <%= db.playerTag || "N/A" %>
            </p>
          </div>
          <div class="playerStats" style="display: flex; flex-direction: row; justify-content: space-between;">
            <p>Age: </p>
            <p>
              <%= db.age || "N/A" %>
            </p>
          </div>
          <div class="playerStats" style="display: flex; flex-direction: row; justify-content: space-between;">
            <p>Gender: </p>
            <p>
              <%= db.gender || "N/A" %>
            </p>
          </div>
          <div class="playerStats" style="display: flex; flex-direction: row; justify-content: space-between;">
            <p>Preferred Position: </p>
            <p>
              <%= db.preferredPosition || "N/A" %>
            </p>
          </div>
          <div class="playerStats" style="display: flex; flex-direction: row; justify-content: space-between;">
            <p>HomeTown: </p>
            <p>
              <%= db.homeTown || "N/A" %>
            </p>
          </div>
          <div class="playerStats" style="display: flex; flex-direction: row; justify-content: space-between;">
            <p>Favourite Club: </p>
            <p>
              <%= db.favClub || "N/A" %>
            </p>
          </div>
          <div class="playerStats" style="display: flex; flex-direction: row; justify-content: space-between;">
            <p>Preferred Jersey </p>
            <p>Number: <%= db.preferredJerseyNumber || "N/A" %>
            </p>
          </div>
          <div class="playerStats" style="display: flex; flex-direction: row; justify-content: space-between;">
            <p>Height & </p>
            <p>Weight: <%= db.HeightandWeight || "N/A" %>
            </p>
          </div>
          <p class="playerStats playerSocials">
            Socials:
            <a href="https://www.instagram.com/<%= db.Socials.instagram %>/?hl=en" target="_blank"
              rel="noopener noreferrer">
              <%= db.Socials.instagram || "N/A" %>
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="masterDiv">
      <div class="innerLeftmasterDiv">
        <div class="playerDetails">
          <div class="statleftHalf">
            <p class="gameStats">
              Matches Played: <span class="gap">
                <%= db.playerStats.gamesPlayed || "N/A" %>
              </span>
            </p>
            <p class="gameStats">Cards: <span class="gap">
                <%= db.playerStats.card || "N/A" %>
              </span></p>
            <p class="gameStats">Free Kicks: <span class="gap">
                <%= db.playerStats.freeKicks || "N/A" %>
              </span></p>
            <p class="gameStats">Penalties: <span class="gap">
                <%= db.playerStats.penalties || "N/A" %>
              </span></p>
            <p class="gameStats">Goals: <span class="gap">
                <%= db.playerStats.goals || "N/A" %>
              </span></p>
            <p class="gameStats">
              Man of the Match Awards: <span class="gap">
                <%= db.playerStats.motmAwards || "N/A" %>
              </span>
            </p>
            <p class="gameStats">Assists: <span class="gap">
                <%= db.playerStats.Assists || "N/A" %>
              </span></p>
            <p class="gameStats">
              Wins/Draws/Losses: <span class="gap">
                <%= db.playerStats.wdl[0]%>/<%= db.playerStats.wdl[1]%>/<%= db.playerStats.wdl[2] || "N/A" %>
              </span>
            </p>
            <p class="gameStats">
              Avg. Match Rating: <span class="gap">
                <%= db.playerStats.rating || "N/A" %>/10
              </span>
            </p>
          </div>
          <div class="statrightHalf">
            <div class="progressStat">
              <p>Passing</p>
              <div class="progressBar">
                <p>
                  <%= db.gameStats.passing %>%
                </p>
                <div class="innerProgress"></div>
              </div>
            </div>
            <div class="progressStat">
              <p>Dribbling</p>
              <div class="progressBar">
                <p>
                  <%= db.gameStats.dribbling %>%
                </p>
                <div class="innerProgress"></div>
              </div>
            </div>
            <div class="progressStat">
              <p>Shooting</p>
              <div class="progressBar">
                <p>
                  <%= db.gameStats.shooting %>%
                </p>
                <div class="innerProgress"></div>
              </div>
            </div>
            <div class="progressStat">
              <p>Defence</p>
              <div class="progressBar">
                <p>
                  <%= db.gameStats.defence %>%
                </p>
                <div class="innerProgress"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="previousGames">
          <table border="0" class="previousGamesTable">
            <colgroup>
              <col style="width: 5%; text-align: center" />
              <col style="width: 65%; text-align: left" />
              <col style="width: 20%; text-align: center" />
              <col style="width: 10%; text-align: center" />
            </colgroup>
            <tr class="tableHeadings">
              <th>Status</th>
              <th style="text-align: left">Game</th>
              <th>Date</th>
              <th>Score</th>
            </tr>
            <% db.matchHistory.forEach(function(match) { %>
              <tr>
                <td style="text-align: center">
                  <%= match.status %>
                </td>
                <td>
                  <%= match.gameName %>
                </td>
                <td style="text-align: center">
                  <%= new Date(match.date).getDate() %>-
                    <%= new Date(match.date).getMonth() + 1 %>-
                      <%= new Date(match.date).getFullYear() %>
                </td>
                <td style="text-align: center">
                  <%= match.score %>
                </td>
              </tr>
              <% }) %>

          </table>
        </div>
      </div>

      <div class="achievements">
        <h3>Achievements</h3>
        <ul>
          <% db.Achievements.forEach(function(ach) { %>
            <li>
              <%= ach %>
            </li>
            <% }) %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Footer  -->
  <div class="footer">
    <div class="footerLeft">
      <lord-icon src="https://cdn.lordicon.com/bjxtqill.json" trigger="hover" style="width:50px;height:50px">
      </lord-icon>
      <h3> TurfCircuit</h3>
    </div>
    <div class="footerRight">

      <div class="footerdet"><lord-icon class="lord-icon" src="https://cdn.lordicon.com/onmwuuox.json" trigger="hover"
          stroke="bold" colors="primary:#ffffff,secondary:#08a88a" style="width:30px;height:30px">
        </lord-icon>
        <p>Mehdipatnam, Hyderabad, India - 500028</p>
      </div>
      <div class="footerdet">
        <lord-icon class="lord-icon" src="https://cdn.lordicon.com/vpbspaec.json" trigger="hover" stroke="bold"
          colors="primary:#ffffff,secondary:#08a88a" style="width:30px;height:30px">
        </lord-icon>
        <p>masoodakataha@gmail.com</p>
      </div>
      <div class="footerdet">
        <lord-icon class="lord-icon" src="https://cdn.lordicon.com/kdduutaw.json" trigger="hover" stroke="bold"
          colors="primary:#ffffff,secondary:#08a88a" style="width:30px;height:30px">
        </lord-icon>
        <p>+91 - 9381354038</p>
      </div>
      <div class="footerdet floordetSocials">
        <a href="http://www.facebook.com">
          <lord-icon class="lord-iconSocials" src="https://cdn.lordicon.com/bfoumeno.json" trigger="hover" stroke="bold"
            colors="primary:#ffffff,secondary:#08a88a" style="width:30px;height:30px">
          </lord-icon>
        </a>
        <a href="http://www.instagram.com">
          <lord-icon class="lord-iconSocials" src="https://cdn.lordicon.com/tgyvxauj.json" trigger="hover" stroke="bold"
            colors="primary:#ffffff,secondary:#08a88a" style="width:30px;height:30px">
          </lord-icon>
        </a>
        <a href="http://www.twitter.com">
          <lord-icon class="lord-iconSocials" src="https://cdn.lordicon.com/yizwahhw.json" trigger="hover" stroke="bold"
            colors="primary:#ffffff,secondary:#08a88a" style="width:30px;height:30px">
          </lord-icon>
        </a>
        <a href="http://chat.whatsapp.com/LnegVafPerO560ZiW65rSW">
          <lord-icon class="lord-iconSocials" src="https://cdn.lordicon.com/dnphlhar.json" trigger="hover" stroke="bold"
            colors="primary:#ffffff,secondary:#08a88a" style="width:30px;height:30px">
          </lord-icon>
        </a>
        <a href="http://www.github.com">
          <lord-icon class="lord-iconSocials" src="https://cdn.lordicon.com/yvjimpju.json" trigger="hover" stroke="bold"
            colors="primary:#ffffff,secondary:#08a88a" style="width:30px;height:30px">
          </lord-icon>
        </a>
      </div>


    </div>
    <div class="mapFooter">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.3490648085153!2d78.4305894744685!3d17.395028083493436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb97230b9f66fd%3A0xee0a1cdef20c04bf!2sCrank%20gym!5e0!3m2!1sen!2sin!4v1698232238080!5m2!1sen!2sin"
        width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <div class="devInfoParentDiv">
    <div class="developerInfo">
      <p>Developed by Mohammed Masooduddin Siddiqui</p>
      <p>© 2025 All Rights Reserved</p>
      <p>mailto: <a href="mailto:masoodakataha@gmail.com" target="_blank">masoodakataha@gmail.com</a></p>
      <p><a href="https://www.linkedin.com/in/masood059" target="_blank">Follow me on LinkedIn</a></p>
      <p>Version: 1.0.0.0</p>
      <p>Built using Node.js, Express, Mongodb, Ejs.</p>
      <a class="devInfoExit">Exit</a>
    </div>
  </div>


  <div class="Copyright">
    © Copyright • TurfCircuit • 2025 • <lord-icon src="https://cdn.lordicon.com/ailnzwyn.json" trigger="hover" style="width:30px;height:30px"></lord-icon>
  </div>


  <script>
    let stats = document.querySelectorAll(".playerStats");
    let progress = document.querySelectorAll(".innerProgress");
    let progressBars = document.querySelectorAll(".progressBar");
    let displayPercentage = document.querySelectorAll(".progressBar p");
    let previousGames = document.querySelectorAll(".previousGamesTable tr");
    let achievements = document.querySelectorAll(".achievements li");
    let edit = document.querySelectorAll(".pencil-icon");
    let tick = document.querySelectorAll(".tick-icon");
    let data = document.querySelectorAll(".data");
    let input = document.querySelectorAll(".updateInputFields");
    let save = document.querySelector(".formSubmit");
    let profileSettings = document.querySelector(".settingsPageWrapper");
    let settings = document.querySelector(".editInfo");
    let profileTab = document.querySelector(".profileSettings");
    let themeSelector = document.querySelector(".appearanceSettings");
    let profileBtn = document.querySelector(".profileTab");
    let themeBtn = document.querySelector(".themeTab");
    let setThemeBtn = document.querySelector(".setTheme");
    let saveThemeBtn = document.querySelector(".setTheme");
    let themesList = document.querySelector(".themeSelector");
    const rootStyles = getComputedStyle(document.documentElement);
    const savedPrimaryColor = localStorage.getItem("primaryColor");
    const savedSecondaryColor = localStorage.getItem("secondaryColor");
    const savedThirdColor = localStorage.getItem("thirdColor");
    const savedFourthColor = localStorage.getItem("fourthColor");

    if (savedPrimaryColor) {
      document.documentElement.style.setProperty("--primaryColor", savedPrimaryColor);
    }
    if (savedSecondaryColor) {
      document.documentElement.style.setProperty("--secondaryColor", savedSecondaryColor);
    }
    if (savedThirdColor) {
      document.documentElement.style.setProperty("--thirdColor", savedThirdColor);
    }
    if (savedFourthColor) {
      document.documentElement.style.setProperty("--fourthColor", savedFourthColor);
    }

    for (let i = 0; i < progressBars.length; i++) {
      progress[i].style.width = `${displayPercentage[i].textContent}`;
    }


    let uclProfiles = ["https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250052469.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250121533.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/74699.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250176450.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250080471.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250076574.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250172668.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250121965.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250073809.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250128377.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250147342.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250106939.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250169705.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250128270.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250101696.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250156002.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250061507.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250027008.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250103561.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250171278.webp",
      "https://img.uefa.com/imgml/TP/players/1/2025/cutoff/250056189.webp"
    ]
    let randomNumber = Math.floor(Math.random() * uclProfiles.length);
    document.querySelector('.responsive-image').setAttribute('src', uclProfiles[randomNumber]);

    const lordIcon = document.querySelector('.navbar .title lord-icon');
    const profilelordIcon = document.querySelector('.profileIcon lord-icon');
    const pageTitle = document.title;
    if (pageTitle != 'TurfCircuit | Home') {
      lordIcon.setAttribute('colors', `primary:${savedSecondaryColor},secondary:${savedSecondaryColor}`);
      profilelordIcon.setAttribute('colors', `primary:${savedSecondaryColor},secondary:${savedSecondaryColor}`);
    }

    const copyright = document.querySelector('.Copyright');
    const devInfo = document.querySelector('.devInfoParentDiv');
    const devInfoExit = document.querySelector('.devInfoExit');
    copyright.addEventListener('click', () => {

      devInfo.style.display = "flex";
    })

    devInfoExit.addEventListener('click', (e) => {
      e.preventDefault();

      devInfo.style.display = "none";
    })
  </script>
  <script src="/js/common.js"></script>
  <script src="/js/nav.js"></script>
  <script src="/js/profile.js"></script>
</body>

</html>
